<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Segue</key>
	<dict/>
	<key>configureMean.AddSource</key>
	<string>fromConfigureMeantoAddSource</string>
	<key>configureMean.configureWord</key>
	<string>fromConfigureMeantoConfigureWord</string>
	<key>configureWord.configureMean</key>
	<string>fromConfigureWordtoConfigureMean</string>
	<key>configureWord.Dictionary</key>
	<string>fromConfigureWordtoDictionary</string>
	<key>configureWord.configureWordNoteBook</key>
	<string>fromConfigureWordtoConfigureWordNoteBook</string>
	<key>dictionary.searchWord</key>
	<string>fromDictionarytoSearchWord</string>
	<key>dictionary.configureWord</key>
	<string>fromDictionarytoConfigureWord</string>
	<key>dictionary.configureWordNoteBook</key>
	<string>fromDictionarytoConfigureWordNoteBook</string>
	<key>dictionary.top</key>
	<string>fromDictionarytoView</string>
	<key>addWord.configureWordNoteBook</key>
	<string>fromAddWordtoConfigureWordNoteBook</string>
	<key>configureWordNoteBook.optionConfigureWordNote</key>
	<string>fromConfigureWordNoteBooktoOptionConfigureWordNote</string>
	<key>configureWordNoteBook.configureTestOfWordNoteBook</key>
	<string>fromConfigureWordNoteBooktoConfigureTestOfWordNoteBook</string>
	<key>configureWordNoteBook.addWordFromWeb</key>
	<string>fromConfigureWordNoteBooktoAddWordFromWeb</string>
	<key>configureWordNoteBook.addWord</key>
	<string>fromConfigureWordNoteBooktoAddWord</string>
	<key>configureWordNoteBook.configureWord</key>
	<string>fromConfigureWordNoteBooktoConfigureWord</string>
	<key>configureWordNoteBook.dictionary</key>
	<string>fromConfigureWordNoteBooktoDictionary</string>
	<key>configureWordNoteBook.top</key>
	<string>fromConfigureWordNoteBooktoView</string>
	<key>addPartsOfSpeech.top</key>
	<string>fromAddPartsofSpeechtoView</string>
	<key>addWordNoteBook.top</key>
	<string>fromAddWordNoteBooktoView</string>
	<key>top.addPartOfSpeech</key>
	<string>fromViewtoAddPartsofSpeech</string>
	<key>top.addWordNoteBook</key>
	<string>fromViewtoAddWordNoteBook</string>
	<key>top.dictionary</key>
	<string>fromViewtoDictionary</string>
	<key>top.configureWordNoteBook</key>
	<string>fromViewtoConfigureWordNoteBook</string>
</dict>
</plist>
