<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Segue</key>
	<dict/>
	<key>addPartsOfSpeech.top</key>
	<string>fromAddPartsofSpeechtoView</string>
	<key>addWordNoteBook.top</key>
	<string>fromAddWordNoteBooktoView</string>
	<key>top.addPartOfSpeech</key>
	<string>fromViewtoAddPartsofSpeech</string>
	<key>top.addWordNoteBook</key>
	<string>fromViewtoAddWordNoteBook</string>
	<key>top.dictionary</key>
	<string>fromViewtoDictionary</string>
	<key>top.configureWordNoteBook</key>
	<string>fromViewtoConfigureWordNoteBook</string>
</dict>
</plist>
