<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Message</key>
	<dict>
		<key>searchResult.noResult</key>
		<string>検索結果がありません</string>
		<key>searchWord.input.numeric</key>
		<string>レベルには半角数字を入力してください</string>
		<key>searchWord.input.noInput</key>
		<string>検索条件として単語名または訳文を入力してください</string>
		<key>addSource.input.already.inWordData</key>
		<string>その出典は既に選択した単語データに登録されています</string>
		<key>addSource.input.already.inSource</key>
		<string>その出典は既に既存の出典データに登録されています</string>
		<key>addSource.input.noInput</key>
		<string>登録する出典が入力されていません</string>
		<key>addSource.select.already</key>
		<string>選択した出典は既に選択した単語データに登録されています</string>
		<key>addSource.select.noSelected</key>
		<string>出典が選択されていません</string>
		<key>addWordFromWeb.notFoundMean</key>
		<string>入力された単語では訳文が検出されませんでした</string>
		<key>addWordFromWeb.networkError</key>
		<string>ネットワークエラー</string>
		<key>addWordFromWeb.noRegisteredinDictionary</key>
		<string>入力された単語は辞書に無いか、複数登録されています</string>
		<key>addWordFromWeb.already</key>
		<string>既に同じ英単語が単語帳に登録されています</string>
		<key>addWordFromWeb.noInputWord</key>
		<string>単語が入力されていません</string>
		<key>addWordFromWeb.noRegisteredMean</key>
		<string>登録する訳文がありません</string>
		<key>configureMean.noInput</key>
		<string>訳文が入力されていません</string>
		<key>configureMean.noSelectedPartsOfSpeech</key>
		<string>品詞が選択されていません</string>
		<key>configureMean.noWord</key>
		<string>単語データがありません</string>
		<key>configureWordNoteBook.already</key>
		<string>この英単語は既に登録されています</string>
		<key>addPartsOfSpeech.already</key>
		<string>既に同じ品詞名が登録されています</string>
		<key>addPartsOfSpeech.noInput</key>
		<string>品詞名が入力されていません</string>
		<key>addWordNoteBook.already</key>
		<string>既に同じ名前の単語帳が登録されています</string>
		<key>addWordNoteBook.noInput</key>
		<string>単語帳名が入力されていません</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>configureTestOfWordNoteBook</key>
		<array>
			<string>条件なし</string>
			<string>登録順</string>
			<string>名前順</string>
			<string>レベル順</string>
			<string>正解率順</string>
			<string>回答数順</string>
		</array>
		<key>selectSource</key>
		<string>--出典を選択してください--</string>
		<key>inputWord</key>
		<string>単語を入力してください</string>
		<key>addSource</key>
		<string>➕出典を追加する</string>
		<key>selectPartsOfSpeech</key>
		<string>---品詞を選択してください---</string>
		<key>addMean</key>
		<string>➕訳文を追加する</string>
		<key>configureWordNoteBook</key>
		<array>
			<string>単語追加</string>
			<string>確認テスト</string>
			<string>エクスポート(工事中)</string>
			<string>オプション</string>
			<string>名称変更</string>
		</array>
		<key>top</key>
		<array>
			<string>単語帳追加</string>
			<string>品詞追加</string>
			<string>マスター英単語帳</string>
			<string>オプション(工事中)</string>
		</array>
	</dict>
	<key>Segue</key>
	<dict>
		<key>configureTestOfWordNoteBook.fourOptionTestOfWordNote</key>
		<string>fromConfigureTestOfWordNoteBooktoFourOptionTestOfWordNote</string>
		<key>configureTestOfWordNoteBook.testOfWordNoteBook</key>
		<string>fromConfigureTestOfWordNoteBooktoTestOfWordNoteBook</string>
		<key>configureTestOfWordNoteBook.configureWordNoteBook</key>
		<string>fromConfigureTestOfWordNoteBooktoConfigureWordNoteBook</string>
		<key>searchResult.configureWord</key>
		<string>fromSearchResulttoConfigureWord</string>
		<key>searchResult.searchWord</key>
		<string>fromSearchResulttoSearchWord</string>
		<key>searchWord.dictionary</key>
		<string>fromSearchWordtoDictionary</string>
		<key>searchWord.searchResult</key>
		<string>fromSearchWordtoSearchResult</string>
		<key>addSource.configureMean</key>
		<string>fromAddSourcetoConfigureMean</string>
		<key>addWordFromWeb.configureWordNoteBook</key>
		<string>fromAddWordFromWebtoConfigureWordNoteBook</string>
		<key>configureMean.configureWord</key>
		<string>fromConfigureMeantoConfigureWord</string>
		<key>configureMean.AddSource</key>
		<string>fromConfigureMeantoAddSource</string>
		<key>configureWord.configureWordNoteBook</key>
		<string>fromConfigureWordtoConfigureWordNoteBook</string>
		<key>configureWord.Dictionary</key>
		<string>fromConfigureWordtoDictionary</string>
		<key>configureWord.configureMean</key>
		<string>fromConfigureWordtoConfigureMean</string>
		<key>dictionary.top</key>
		<string>fromDictionarytoView</string>
		<key>dictionary.configureWordNoteBook</key>
		<string>fromDictionarytoConfigureWordNoteBook</string>
		<key>dictionary.configureWord</key>
		<string>fromDictionarytoConfigureWord</string>
		<key>dictionary.searchWord</key>
		<string>fromDictionarytoSearchWord</string>
		<key>addWord.configureWordNoteBook</key>
		<string>fromAddWordtoConfigureWordNoteBook</string>
		<key>addPartsOfSpeech.top</key>
		<string>fromAddPartsofSpeechtoView</string>
		<key>configureWordNoteBook.top</key>
		<string>fromConfigureWordNoteBooktoView</string>
		<key>configureWordNoteBook.dictionary</key>
		<string>fromConfigureWordNoteBooktoDictionary</string>
		<key>configureWordNoteBook.configureWord</key>
		<string>fromConfigureWordNoteBooktoConfigureWord</string>
		<key>configureWordNoteBook.addWord</key>
		<string>fromConfigureWordNoteBooktoAddWord</string>
		<key>configureWordNoteBook.addWordFromWeb</key>
		<string>fromConfigureWordNoteBooktoAddWordFromWeb</string>
		<key>configureWordNoteBook.configureTestOfWordNoteBook</key>
		<string>fromConfigureWordNoteBooktoConfigureTestOfWordNoteBook</string>
		<key>configureWordNoteBook.optionConfigureWordNote</key>
		<string>fromConfigureWordNoteBooktoOptionConfigureWordNote</string>
		<key>addWordNoteBook.top</key>
		<string>fromAddWordNoteBooktoView</string>
		<key>top.configureWordNoteBook</key>
		<string>fromViewtoConfigureWordNoteBook</string>
		<key>top.dictionary</key>
		<string>fromViewtoDictionary</string>
		<key>top.addWordNoteBook</key>
		<string>fromViewtoAddWordNoteBook</string>
		<key>top.addPartOfSpeech</key>
		<string>fromViewtoAddPartsofSpeech</string>
	</dict>
	<key>fourOptionTestOfWordNote.configureTestOfWordNoteBook</key>
	<string>fromFourOptionTestOfWordNotetoConfigureTestOfWordNoteBook</string>
	<key>fourOptionTestOfWordNote.configureWordNoteBook</key>
	<string>fromFourOptionTestOfWordNotetoConfigureWordNoteBook</string>
	<key>optionConfigureWordNote.configureWordNoteBook</key>
	<string>fromOptionConfigureWordNotetoConfigureWordNoteBook</string>
	<key>testOfWordNoteBook.configureWordNoteBook</key>
	<string>fromTestOfWordNoteBooktoConfigureWordNoteBook</string>
	<key>testOfWordNoteBook.configureTestOfWordNoteBook</key>
	<string>fromTestOfWordNoteBooktoConfigureTestOfWordNoteBook</string>
</dict>
</plist>
